<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Metadados básicos -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amar.elo - Biolabs</title>

    <!-- Link CSS local -->
    <link rel="stylesheet" href="/SRC/assets/css/stylestartups.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Link do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet" />
</head>

<body>
<!-- Cabeçalho com logo e menu -->
<header style="background-color: #9A0D8F"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="SRC/assets/img/logo-branco.png" alt="Logo ICC Biolabs" class="img-fluid" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse ms-auto" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#home"><u>Home</u></a></li>
          <li class="nav-item"><a class="nav-link" href="#quem-somos">Quem somos</a></li>
          <li class="nav-item"><a class="nav-link" href="#o-que-fazemos">O que fazemos</a></li>
          <li class="nav-item"><a class="nav-link" href="#time">Time</a></li>
          <li class="nav-item"><a class="nav-link" href="#time">Startups</a></li>
          <li class="nav-item"><a class="nav-link" href="#mentores">Mentores</a></li>
          <li class="nav-item"><a class="nav-link" href="#jornada">Jornada</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#fale-conosco"><button class="btn-contact">Fale conosco</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <a href="index.html" class="text-decoration-none" style="margin-bottom: 0.1em;">Inicial</a>
                <p class="mx-2">></p>
                <p>Startups</p>
            </div>
        </div>
    </div>
</div>
<div class="barraStartup">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-start">Startups</h2>
            </div>
        </div>
    </div>
</div>

<section class="texto-imagem">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 mb-4">
                <img src="SRC/assets/img/flimeddefinitivo.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="texto">
                    <h3>Temos profissionais da saúde <br><span>preparados para te ajudar!</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur. Nisl turpis sem id tristique sit. <br>Ac adipiscing sagittis non vulputate odio lacus at sit. Libero nunc viverra <br>odio laoreet leo viverra ullamcorper egestas scelerisque. Dolor etiam<br>egestas.</p>
                    <a href=""><button class="btn-site">Ver site</button></a>
                </div>
            </div>
        </div>
    </div>
</section>


    <footer>
        <div class="container">
          <div class="row">
            <!-- Coluna 1: Logo e Redes Sociais -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="d-flex flex-column align-items-start">
                <img src="SRC/assets/img/logo-branco.png" alt="Logo Biolabs" class="img-fluid">
                <p></p>
                <p></p>
                <div class="mt-3 d-flex gap-3">
                  <a href="#"><img src="SRC/assets/img/insta.svg" alt="Instagram" class="social-icon"></a>
                  <a href="#"><img src="SRC/assets/img/facebook.svg" alt="Facebook" class="social-icon"></a>
                  <a href="#"><img src="SRC/assets/img/linkedin.svg" alt="LinkedIn" class="social-icon"></a>
                </div>
              </div>
            </div>
      
            <!-- Coluna 2: Menu -->
            <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
              <h4>Menu</h4>
              <ul class="list-unstyled">
                <li><a href="index.html" class="text-white">Home</a></li>
                <li><a href="#h200" class="text-white">Quem somos</a></li>
                <li><a href="#que-fazemos" class="text-white">O que fazemos</a></li>
                <li><a href="#time" class="text-white">Time</a></li>
                <li><a href="#startup" class="text-white">Startups</a></li>
                <li><a href="#mentores" class="text-white">Mentores</a></li>
                <li><a href="#jornada" class="text-white">Jornada</a></li>
              </ul>
            </div>
      
            <!-- Coluna 3: Contatos -->
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
              <h4>Contatos</h4>
              <div class="d-flex align-items-center mb-2">
                <img src="SRC/assets/img/email.svg" alt="E-mail" class="me-2">
                <a href="#" class="text-white">iccbioabs@icc.org.br</a>
              </div>
              <div class="d-flex align-items-center mt-2">
                <img src="SRC/assets/img/telefone2.svg" alt="Telefone" class="me-2">
                <a href="#" class="text-white"></a>
              </div>
              <h4 class="mt-4">Endereço</h4>
              <p style="color: white;">Prédio Anexo - 5º Andar, R. Papi Júnior, 1222 - Rodolfo Teófilo, Fortaleza - CE, 60730-155</p>
            </div>
      
            <!-- Coluna 4: LGPD -->
            <div class="col-lg-3 col-md-6 col-sm-12">
              <h4>LGPD</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Políticas de Privacidade</a></li>
                <li><a href="#" class="text-white">Políticas de Cookies</a></li>
              </ul>
            </div>
          </div>
      
          <!-- Nova Linha para Texto e Imagem -->
          <div class="row mt-4">
            <div class="col-md-6 text-start">
              <p class="text-white">Biolabs - 2024</p>
            </div>
            <div class="col-md-6 text-end">
              <img src="SRC/assets/img/biofinal.svg" alt="Ícone Final" class="img-fluid">
            </div>
          </div>
        </div>
      </footer>
    <!-- Linkagem do Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>